/* Montserrat Font  font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Days one  font-family: 'Days One', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');


:root {
    --background: #10002B;
    --purple-pale: #C4B4D2;
    --purple: #240046;
    --btn-purple: #765297;
    --days: 'Days One', sans-serif;
    --montse: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--montse);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 60px 0;
}

.bg {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: var(--days);
}

.btn {
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background: var(--purple);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover {
    transition: .5s ease-in-out;
    color: #fff;
    background-color: #3C096C;
}

/* Header styles  */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
    height: 70px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: fixed;
}

.logo h1 {
    font-family: var(--days);
    background: linear-gradient(180deg, #3C096C 0%, #9D4EDD 51.04%, rgba(224, 170, 255, 0) 100%);
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 60px;
}

.nav-container {
    margin-right: 60px;
}

nav a {
    color: #f3f3f3;
    font-size: 13px;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 500;
}

a:hover {
    color: var(--purple-pale);
    transition: .5s ease-in-out;
}

.cart {
    font-size: 24px;
    line-height: 15px;
}

/* Hero section */

.hero-container {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.hero-text {

    width: 550px;
    margin-left: 60px;
}

.hero-text .hero-heading {
    font-family: var(--days);
    font-size: 50px;
    background: linear-gradient(180deg, #9D4EDD -0.17%, #E0AAFF -0.16%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.hero-text .hero-paragraph {
    display: inline-block;
    color: #f3f3f3;
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
}


.hero-img {
    margin-right: 60px;

    height: 500px;
    width: 500px;
}

.hero-img image {

    height: 100%;
    width: 100%;
}

.hero-btn {
    margin-top: 20px;
}

/* ABOUT */

.about-container {
    width: 100%;
    height: 100vh;
    background-color: var(--purple-pale);
}

.about-heading {
    text-align: center;
    font-size: 30px;
    margin: 60px 0;
    background: linear-gradient(180deg, #240046 0%, #3C096C 51.04%, rgba(224, 170, 255, 0) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    width: 600px;
    font-size: 15px;
    line-height: 30px;
}

.about-btn {
    margin-top: 15px;
}

.about-img img {
    width: 450px;
    height: 450px;
}

/* Products */

.products-container {
    background: var(--background);
}

.product-heading {
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    background: linear-gradient(180deg, #9D4EDD -0.17%, #E0AAFF -0.16%);
    -webkit-background-clip: text;
    color: transparent;
}

.product-sub-heading {
    text-align: center;
    font-weight: 500;
    color: #f3f3f3;
    margin-top: 20px;
    margin-bottom: 60px;
}

.products-card-container {
    display: flex;
    justify-content: space-evenly;

}

.card-product {
    /* outline: 1px solid red; */
    width: 400px;
    height: 480px;
    border-radius: 5px;
    background-color: var(--purple-pale);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
}

.card-heading {
    font-family: var(--montse);
    font-weight: 600;
    font-size: 20px;
    margin: 30px 0 10px 30px;
}

.card-img {
    width: 400px;
    height: 225px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card-info {
    display: flex;
    justify-content: space-between;
    font-family: var(--montse);
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    margin: 10px 30px;
}

.quantity {
    width: 30px;
    height: 30px;
    border: none;
    width: 45px;
    text-align: center;
}

.quantity-container {
    margin: 0;
    display: flex;
}

.quantity-btn {
    display: flex;
    flex-direction: column;

}

.quantity-btn button {
    background: var(--background);
    color: #f3f3f3;
    width: 30px;
    height: 15px;
    border: none;
    cursor: pointer;
}

.quantity-btn button:hover {
    background-color: rgba(16, 0, 43, .5);
    color: #f3f3f3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    outline: none;
}


.custom-radios {
    margin-left: 30px;
}

.custom-radios div {
    display: inline-block;
}

.custom-radios input[type=radio] {
    display: none;
}

.custom-radios input[type=radio]+label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.custom-radios input[type=radio]+label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 34px;
}

.custom-radios input[type=radio]+label span img {
    opacity: 0;
    transition: all 0.3s ease;
}

.custom-radios input[type=radio]#color-1+label span , .custom-radios input[type=radio]#color-4+label span, .custom-radios input[type=radio]#color-7+label span{
    background-color: #f1c40f;

}

.custom-radios input[type=radio]#color-2+label span, .custom-radios input[type=radio]#color-5+label span, .custom-radios input[type=radio]#color-8+label span {
    background-color: #fc5a8d;
}

.custom-radios input[type=radio]#color-3+label span, .custom-radios input[type=radio]#color-6+label span, .custom-radios input[type=radio]#color-9+label span {
    background-color: #7B3F00;
}

.custom-radios input[type=radio]:checked+label span img {
    opacity: 1;
}


.card-buttons {
    display: flex;
    margin-top: 30px;
}

.button-custom {
    display: inline-block;
    background-color: var(--purple);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: #f3f3f3;
    border-radius: 0 0 0 3px;
}

.button-cart {
    display: inline-block;
    background-color: var(--btn-purple);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 30px;
    border-radius: 0 0 3px 0;
}

/* CONTACT */

.contact-container {
    background-color: var(--btn-purple);
}

.contact-form-container {
    display: flex;
}

.contact-ilustration {
    margin-top: 60px;
    width: 500px;
    height: 500px;
}

.contact-form {
    margin: 0 auto;
    text-align: center;
}
.contact-heading{
    font-size: 25px;
    margin: 30px 0 5px 0;
    color: var(--background);
}
.contact-sub-heading{
    margin-bottom: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    background-color: var(--purple-pale);
    height: 450px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 430px;
    height: 400px;
}

form input {
    padding-left: 1rem;
    outline: none;
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin-top: 15px;
}

textarea {
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
    height: 90px;
    resize: none;
    margin-top: 15px;
}

.btn-send {
    width: 100%;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}
/* Footer */

.footer-container{
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}

.footer-icons{
    display: flex;
    align-items: center;
    margin-left: 60px;
    /* background-color: wheat ; */
    
}

.footer-logo{
    font-size: 25px;
    text-decoration: none;
    background: linear-gradient(180deg, #3C096C 0%, #9D4EDD 51.04%, rgba(224, 170, 255, 0) 100%);
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 1rem;
}

.footer-link{
    color: #f3f3f3;
    margin: 0 .5rem ;
    font-size: 22.5px;
    background-color: transparent;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.footer-link:hover{
    background-color: #240046;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
}

.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--montse);
    color: #f3f3f3;
    width: 500px;
    margin-right: 60px;
}
.footer-info h3{
    font-family: var(--montse);
    color: #f3f3f3;
}
.footer-info p{
    margin-left: 15px;
    font-size: 13px;
    line-height: 26px;
}

.location ,.phone, .schedule{
    width: 250px;
    margin-right: 20px;
}


